/*M!999999\- enable the sandbox mode */ 

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
DROP TABLE IF EXISTS `access_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `access_audit_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` varchar(200) NOT NULL COMMENT 'Acci├│n realizada o intentada',
  `resource_type` varchar(100) DEFAULT NULL COMMENT 'Tipo de recurso (ej: client, service)',
  `resource_id` int(11) DEFAULT NULL COMMENT 'ID del recurso espec├¡fico',
  `result` enum('success','denied','error') NOT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `request_path` varchar(500) DEFAULT NULL,
  `request_method` varchar(10) DEFAULT NULL COMMENT 'GET, POST, PUT, DELETE',
  `error_message` text DEFAULT NULL COMMENT 'Mensaje de error si result=error',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_action` (`user_id`,`action`),
  KEY `idx_timestamp` (`created_at`),
  KEY `idx_result` (`result`),
  KEY `idx_resource` (`resource_type`,`resource_id`),
  CONSTRAINT `access_audit_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `access_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `access_audit_log` ENABLE KEYS */;
DROP TABLE IF EXISTS `bundle_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `bundle_services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bundle_id` int(11) NOT NULL COMMENT 'ID del paquete',
  `service_id` int(11) NOT NULL COMMENT 'ID del servicio incluido en el paquete',
  `include_in_base_price` tinyint(1) DEFAULT 1 COMMENT 'Si TRUE, el precio del servicio est├í incluido en el precio base del bundle',
  `add_when_due` tinyint(1) DEFAULT 0 COMMENT 'Si TRUE, se suma el precio del servicio cuando corresponde por recurrencia',
  `custom_price` decimal(10,2) DEFAULT NULL COMMENT 'Precio personalizado del servicio dentro del bundle (NULL = usar default_price)',
  `assignment_type` enum('all_clients','selected_clients') DEFAULT 'all_clients' COMMENT 'Si el servicio del bundle se asigna a todos o solo seleccionados',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_bundle_service` (`bundle_id`,`service_id`),
  KEY `idx_bundle` (`bundle_id`),
  KEY `idx_service` (`service_id`),
  KEY `idx_bundle_services_assignment` (`assignment_type`),
  CONSTRAINT `bundle_services_ibfk_1` FOREIGN KEY (`bundle_id`) REFERENCES `service_bundles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bundle_services_ibfk_2` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Servicios incluidos en cada paquete';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `bundle_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `bundle_services` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_bundles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_bundles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_user_id` int(11) NOT NULL COMMENT 'ID del cliente',
  `bundle_id` int(11) NOT NULL COMMENT 'ID del paquete contratado',
  `custom_price` decimal(10,2) DEFAULT NULL COMMENT 'Precio personalizado para este cliente (si aplica)',
  `start_date` date DEFAULT NULL COMMENT 'Fecha de inicio del paquete',
  `status` varchar(50) DEFAULT 'active' COMMENT 'Estado del paquete para este cliente',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_client` (`client_user_id`),
  KEY `idx_bundle` (`bundle_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `client_bundles_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_bundles_ibfk_2` FOREIGN KEY (`bundle_id`) REFERENCES `service_bundles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Paquetes contratados por cada cliente';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_bundles` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_bundles` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_custom_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_custom_values` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_user_id` int(11) NOT NULL,
  `field_id` int(11) NOT NULL,
  `field_value` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_client_field` (`client_user_id`,`field_id`),
  KEY `field_id` (`field_id`),
  CONSTRAINT `client_custom_values_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_custom_values_ibfk_2` FOREIGN KEY (`field_id`) REFERENCES `client_profile_fields` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_custom_values` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_custom_values` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_infractions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_infractions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `client_user_id` int(11) NOT NULL,
  `infraction_type` enum('automatic_unpaid','manual') NOT NULL COMMENT 'automatic_unpaid=generada autom├íticamente por no pago, manual=creada por admin',
  `reason` text NOT NULL COMMENT 'Motivo de la infracci├│n',
  `related_invoice_id` int(11) DEFAULT NULL COMMENT 'ID de la factura relacionada (para infracciones por no pago)',
  `created_by_user_id` int(11) DEFAULT NULL COMMENT 'ID del admin que cre├│ la infracci├│n (NULL para autom├íticas)',
  `is_active` tinyint(1) DEFAULT 1 COMMENT 'Si la infracci├│n est├í activa (puede ser cancelada por admin)',
  `resolved_by_user_id` int(11) DEFAULT NULL COMMENT 'ID del admin que resolvi├│/cancel├│ la infracci├│n',
  `resolved_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha en que se resolvi├│ la infracci├│n',
  `resolution_notes` text DEFAULT NULL COMMENT 'Notas sobre c├│mo se resolvi├│',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `related_invoice_id` (`related_invoice_id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `resolved_by_user_id` (`resolved_by_user_id`),
  KEY `idx_client_active` (`client_user_id`,`is_active`),
  KEY `idx_type` (`infraction_type`),
  KEY `idx_infractions_workspace` (`workspace_id`),
  CONSTRAINT `client_infractions_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_infractions_ibfk_2` FOREIGN KEY (`related_invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_infractions_ibfk_3` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_infractions_ibfk_4` FOREIGN KEY (`resolved_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Registro de infracciones de clientes (autom├íticas o manuales)';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_infractions` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_infractions` ENABLE KEYS */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_insert_infraction
AFTER INSERT ON client_infractions
FOR EACH ROW
BEGIN
  IF NEW.is_active = TRUE THEN
    
    UPDATE clients_profiles
    SET active_infractions_count = active_infractions_count + 1
    WHERE user_id = NEW.client_user_id;

    
    UPDATE users
    SET services_disabled_by_infractions = TRUE
    WHERE id = NEW.client_user_id
      AND (SELECT active_infractions_count FROM clients_profiles WHERE user_id = NEW.client_user_id) >= 3;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_update_infraction
AFTER UPDATE ON client_infractions
FOR EACH ROW
BEGIN
  
  IF OLD.is_active = TRUE AND NEW.is_active = FALSE THEN
    UPDATE clients_profiles
    SET active_infractions_count = GREATEST(0, active_infractions_count - 1)
    WHERE user_id = NEW.client_user_id;
  END IF;

  
  IF OLD.is_active = FALSE AND NEW.is_active = TRUE THEN
    UPDATE clients_profiles
    SET active_infractions_count = active_infractions_count + 1
    WHERE user_id = NEW.client_user_id;
  END IF;

  
  UPDATE users u
  JOIN clients_profiles cp ON u.id = cp.user_id
  SET u.services_disabled_by_infractions = (cp.active_infractions_count >= 3)
  WHERE u.id = NEW.client_user_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_delete_infraction
AFTER DELETE ON client_infractions
FOR EACH ROW
BEGIN
  IF OLD.is_active = TRUE THEN
    UPDATE clients_profiles
    SET active_infractions_count = GREATEST(0, active_infractions_count - 1)
    WHERE user_id = OLD.client_user_id;

    
    UPDATE users u
    JOIN clients_profiles cp ON u.id = cp.user_id
    SET u.services_disabled_by_infractions = (cp.active_infractions_count >= 3)
    WHERE u.id = OLD.client_user_id;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
DROP TABLE IF EXISTS `client_omisos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_omisos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `client_id` int(11) NOT NULL,
  `motivo` text NOT NULL,
  `archivo_path` varchar(255) NOT NULL,
  `estado` enum('activo','resuelto') DEFAULT 'activo',
  `task_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `resolved_at` timestamp NULL DEFAULT NULL,
  `resolved_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `resolved_by_user_id` (`resolved_by_user_id`),
  KEY `idx_client_estado` (`client_id`,`estado`),
  KEY `idx_task` (`task_id`),
  KEY `idx_omisos_workspace` (`workspace_id`),
  CONSTRAINT `client_omisos_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_omisos_ibfk_2` FOREIGN KEY (`task_id`) REFERENCES `monthly_service_checklist` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_omisos_ibfk_3` FOREIGN KEY (`resolved_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_omisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_omisos` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_user_id` int(11) NOT NULL,
  `workspace_id` int(11) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `payment_method` enum('cash','transfer','card','other') DEFAULT 'cash',
  `payment_type` enum('regular','advance','partial','debt') DEFAULT 'regular',
  `notes` text DEFAULT NULL,
  `reference_number` varchar(100) DEFAULT NULL,
  `registered_by_user_id` int(11) NOT NULL,
  `balance_before` decimal(10,2) NOT NULL,
  `balance_after` decimal(10,2) NOT NULL,
  `payment_date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `registered_by_user_id` (`registered_by_user_id`),
  KEY `idx_client` (`client_user_id`),
  KEY `idx_workspace` (`workspace_id`),
  KEY `idx_date` (`payment_date`),
  CONSTRAINT `client_payments_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_payments_ibfk_2` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_payments_ibfk_3` FOREIGN KEY (`registered_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_payments` DISABLE KEYS */;
INSERT INTO `client_payments` VALUES
(3,3,1,100.00,'cash','regular','Pago mensual + anticipo',NULL,1,0.00,100.00,'2025-01-15','2025-12-28 07:01:44'),
(4,4,1,100.00,'cash','regular','Pago mensual + anticipo',NULL,1,0.00,100.00,'2025-01-15','2025-12-28 07:01:44'),
(5,5,1,100.00,'cash','regular','Pago mensual + anticipo',NULL,1,0.00,100.00,'2025-01-15','2025-12-28 07:01:44'),
(6,6,1,100.00,'cash','regular','Pago mensual + anticipo',NULL,1,0.00,100.00,'2025-01-15','2025-12-28 07:01:45'),
(7,3,1,75.00,'cash','regular','Test fix bug 1',NULL,1,50.00,125.00,'2025-02-15','2025-12-28 07:09:10');
/*!40000 ALTER TABLE `client_payments` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_pool`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_pool` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `client_user_id` int(11) NOT NULL,
  `invoice_id` int(11) DEFAULT NULL,
  `task_id` int(11) DEFAULT NULL,
  `service_id` int(11) DEFAULT NULL,
  `description` text NOT NULL COMMENT 'Descripci├│n de la tarea pendiente',
  `priority` enum('baja','normal','alta','urgente') DEFAULT 'normal',
  `status` enum('pending','in_progress','completed','cancelled') DEFAULT 'pending',
  `added_by_user_id` int(11) DEFAULT NULL,
  `assigned_to_user_id` int(11) DEFAULT NULL COMMENT 'Usuario que tom├│ la tarea del pool',
  `completed_by_user_id` int(11) DEFAULT NULL,
  `added_at` timestamp NULL DEFAULT current_timestamp(),
  `started_at` timestamp NULL DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  KEY `task_id` (`task_id`),
  KEY `service_id` (`service_id`),
  KEY `added_by_user_id` (`added_by_user_id`),
  KEY `completed_by_user_id` (`completed_by_user_id`),
  KEY `idx_status` (`status`),
  KEY `idx_priority` (`priority`),
  KEY `idx_client` (`client_user_id`),
  KEY `idx_assigned_to` (`assigned_to_user_id`),
  KEY `idx_pool_workspace` (`workspace_id`),
  CONSTRAINT `client_pool_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_pool_ibfk_2` FOREIGN KEY (`invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_pool_ibfk_3` FOREIGN KEY (`task_id`) REFERENCES `monthly_service_checklist` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_pool_ibfk_4` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_pool_ibfk_5` FOREIGN KEY (`added_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_pool_ibfk_6` FOREIGN KEY (`assigned_to_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_pool_ibfk_7` FOREIGN KEY (`completed_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Pool compartido de tareas de clientes para colaboraci├│n entre empleados';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_pool` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_pool` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_profile_columns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_profile_columns` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `column_name` varchar(50) NOT NULL,
  `column_type` varchar(100) NOT NULL DEFAULT 'VARCHAR(255)',
  `is_system` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `created_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `column_name` (`column_name`),
  KEY `created_by_user_id` (`created_by_user_id`),
  CONSTRAINT `client_profile_columns_ibfk_1` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_profile_columns` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_profile_columns` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_profile_fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_profile_fields` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `field_key` varchar(50) NOT NULL COMMENT 'Nombre interno del campo (slug)',
  `field_label` varchar(100) NOT NULL COMMENT 'Etiqueta visible',
  `field_type` enum('text','number','email','phone','date','select','textarea','checkbox') DEFAULT 'text',
  `placeholder` varchar(200) DEFAULT NULL,
  `is_required` tinyint(1) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `show_in_registration` tinyint(1) DEFAULT 1 COMMENT 'Mostrar en formulario de registro',
  `select_options` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Opciones para campos tipo select' CHECK (json_valid(`select_options`)),
  `validation_pattern` varchar(200) DEFAULT NULL COMMENT 'Regex para validaci├│n',
  `display_order` int(11) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_system_field` tinyint(1) DEFAULT 0,
  `source_table` enum('users','clients_profiles') DEFAULT 'clients_profiles',
  `column_type` varchar(50) DEFAULT 'VARCHAR(255)',
  `column_exists` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_field_key` (`workspace_id`,`field_key`),
  KEY `idx_workspace` (`workspace_id`),
  KEY `idx_order` (`display_order`),
  KEY `idx_cpf_workspace_key` (`workspace_id`,`field_key`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_profile_fields` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_profile_fields` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_ratings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_user_id` int(11) NOT NULL,
  `rated_by_user_id` int(11) NOT NULL,
  `related_invoice_id` int(11) DEFAULT NULL,
  `rating` tinyint(4) NOT NULL,
  `remarks` text DEFAULT NULL,
  `rating_date` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `client_user_id` (`client_user_id`),
  KEY `rated_by_user_id` (`rated_by_user_id`),
  KEY `related_invoice_id` (`related_invoice_id`),
  CONSTRAINT `client_ratings_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_ratings_ibfk_2` FOREIGN KEY (`rated_by_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `client_ratings_ibfk_3` FOREIGN KEY (`related_invoice_id`) REFERENCES `monthly_invoices` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_ratings` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_service_priorities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_service_priorities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `client_user_id` int(11) NOT NULL,
  `service_id` int(11) DEFAULT NULL,
  `priority` enum('baja','normal','alta','urgente') DEFAULT 'normal',
  `notes` text DEFAULT NULL,
  `created_by_user_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_client_service_priority` (`client_user_id`,`service_id`),
  KEY `service_id` (`service_id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `idx_priorities_workspace` (`workspace_id`),
  CONSTRAINT `client_service_priorities_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_service_priorities_ibfk_2` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_service_priorities_ibfk_3` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Prioridades espec├¡ficas de servicios para clientes';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_service_priorities` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_service_priorities` ENABLE KEYS */;
DROP TABLE IF EXISTS `client_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `client_user_id` int(11) NOT NULL,
  `service_id` int(11) NOT NULL,
  `custom_price` decimal(10,2) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `status` varchar(50) DEFAULT 'active',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `deactivation_reason` text DEFAULT NULL COMMENT 'Motivo por el cual el servicio fue desactivado para este cliente',
  `deactivated_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha y hora en que el servicio fue desactivado',
  `deactivated_by_user_id` int(11) DEFAULT NULL COMMENT 'ID del admin/employee que desactiv├│ el servicio',
  `is_subscribed` tinyint(1) DEFAULT 0,
  `subscription_start_date` date DEFAULT NULL,
  `subscription_end_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `client_user_id` (`client_user_id`),
  KEY `service_id` (`service_id`),
  KEY `fk_service_deactivated_by` (`deactivated_by_user_id`),
  KEY `idx_client_services_status` (`status`),
  KEY `idx_cs_workspace` (`workspace_id`),
  CONSTRAINT `client_services_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_services_ibfk_2` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_service_deactivated_by` FOREIGN KEY (`deactivated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `client_services` DISABLE KEYS */;
INSERT INTO `client_services` VALUES
(5,NULL,4,8,NULL,NULL,'active','2025-12-28 07:24:23',NULL,NULL,NULL,0,NULL,NULL),
(6,NULL,5,8,NULL,NULL,'active','2025-12-28 07:24:23',NULL,NULL,NULL,0,NULL,NULL),
(7,NULL,6,8,NULL,NULL,'active','2025-12-28 07:24:23',NULL,NULL,NULL,0,NULL,NULL);
/*!40000 ALTER TABLE `client_services` ENABLE KEYS */;
DROP TABLE IF EXISTS `clients_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients_profiles` (
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL,
  `contract_number` varchar(50) DEFAULT NULL,
  `sat_password_encrypted` varchar(255) DEFAULT NULL,
  `firma_electronica` varchar(255) DEFAULT NULL,
  `phone_number` varchar(50) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `overall_rating` decimal(3,2) DEFAULT 5.00,
  `notes` text DEFAULT NULL,
  `ratings_count` int(11) DEFAULT 0 COMMENT 'Cantidad de ratings promediados en overall_rating',
  `active_infractions_count` int(11) DEFAULT 0 COMMENT 'N├║mero de infracciones activas del cliente',
  `sede` varchar(100) DEFAULT NULL COMMENT 'Sede del cliente (ej: Mazatenango, Guatemala, etc.)',
  `grupo` varchar(50) DEFAULT NULL COMMENT 'Grupo del cliente para organizaci├│n y filtrado',
  `company_name` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `account_balance` decimal(10,2) DEFAULT 0.00 COMMENT 'Saldo actual del cliente',
  PRIMARY KEY (`user_id`),
  KEY `idx_sede` (`sede`),
  KEY `idx_grupo` (`grupo`),
  KEY `idx_cp_workspace` (`workspace_id`),
  CONSTRAINT `clients_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `clients_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients_profiles` ENABLE KEYS */;
DROP TABLE IF EXISTS `expense_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `expense_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `color` varchar(7) DEFAULT '#6B7280',
  `workspace_id` int(11) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_by_user_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_name_workspace` (`name`,`workspace_id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `idx_workspace` (`workspace_id`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `expense_categories_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE,
  CONSTRAINT `expense_categories_ibfk_2` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `expense_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `expense_categories` ENABLE KEYS */;
DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `expenses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `expense_type` enum('one_time','monthly_recurring') NOT NULL COMMENT 'one_time=gasto ├║nico, monthly_recurring=gasto mensual recurrente',
  `description` text NOT NULL COMMENT 'Descripci├│n del gasto (ej: "Pago a trabajador A", "Compra de art├¡culos")',
  `amount` decimal(10,2) NOT NULL COMMENT 'Monto del gasto',
  `expense_date` date NOT NULL COMMENT 'Fecha del gasto',
  `expense_month` int(11) NOT NULL COMMENT 'Mes del gasto (1-12) para reportes',
  `expense_year` int(11) NOT NULL COMMENT 'A├▒o del gasto para reportes',
  `category` varchar(100) DEFAULT NULL COMMENT 'Categor├¡a del gasto (ej: "N├│mina", "Suministros", "Servicios")',
  `created_by_user_id` int(11) NOT NULL COMMENT 'Admin que registr├│ el gasto',
  `is_active` tinyint(1) DEFAULT 1 COMMENT 'Si el gasto est├í activo (para gastos recurrentes que pueden cancelarse)',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_shared` tinyint(1) DEFAULT 0 COMMENT 'TRUE si es gasto compartido entre workspaces',
  `category_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `idx_date` (`expense_date`),
  KEY `idx_month_year` (`expense_year`,`expense_month`),
  KEY `idx_type` (`expense_type`),
  KEY `idx_active` (`is_active`),
  KEY `idx_expenses_workspace` (`workspace_id`),
  KEY `idx_category_id` (`category_id`),
  CONSTRAINT `expenses_ibfk_1` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_expense_category` FOREIGN KEY (`category_id`) REFERENCES `expense_categories` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Gastos del negocio (├║nicos o recurrentes)';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
DROP TABLE IF EXISTS `external_incomes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_incomes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tenant` varchar(50) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL,
  `description` varchar(255) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `income_date` date NOT NULL,
  `source` enum('salary','freelance','investment','rental','other') NOT NULL DEFAULT 'other',
  `notes` text DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `idx_tenant_date` (`tenant`,`income_date`),
  KEY `idx_workspace_date` (`workspace_id`,`income_date`),
  CONSTRAINT `external_incomes_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE SET NULL,
  CONSTRAINT `external_incomes_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `external_incomes` DISABLE KEYS */;
INSERT INTO `external_incomes` VALUES
(1,'acme',1,'Ingreso de prueba',250.50,'2025-12-27','freelance','Test desde backend',1,'2025-12-27 19:57:23','2025-12-27 19:57:23'),
(2,'acme',1,'Ingreso de otro negocio',500.00,'2025-01-20','other','Venta de productos externos',1,'2025-12-28 07:14:44','2025-12-28 07:14:44');
/*!40000 ALTER TABLE `external_incomes` ENABLE KEYS */;
DROP TABLE IF EXISTS `invitation_code_uses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `invitation_code_uses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invitation_code_id` int(11) NOT NULL,
  `registered_user_id` int(11) NOT NULL,
  `used_at` timestamp NULL DEFAULT current_timestamp(),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `registered_user_id` (`registered_user_id`),
  KEY `idx_code_uses` (`invitation_code_id`),
  CONSTRAINT `invitation_code_uses_ibfk_1` FOREIGN KEY (`invitation_code_id`) REFERENCES `invitation_codes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invitation_code_uses_ibfk_2` FOREIGN KEY (`registered_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `invitation_code_uses` DISABLE KEYS */;
/*!40000 ALTER TABLE `invitation_code_uses` ENABLE KEYS */;
DROP TABLE IF EXISTS `invitation_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `invitation_codes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `max_uses` int(11) DEFAULT NULL COMMENT 'NULL = ilimitado',
  `uses_count` int(11) DEFAULT 0,
  `auto_approve` tinyint(1) DEFAULT 0 COMMENT 'Si TRUE, el cliente queda activo inmediatamente',
  `default_services` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array de service_ids a asignar al registrarse' CHECK (json_valid(`default_services`)),
  `required_fields` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL DEFAULT '["nit", "full_name", "password"]' CHECK (json_valid(`required_fields`)),
  `optional_fields` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT '["email", "phone_number"]' CHECK (json_valid(`optional_fields`)),
  `name` varchar(100) DEFAULT NULL COMMENT 'Nombre descriptivo para el admin',
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_by_user_id` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `workspace_id` (`workspace_id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `idx_invitation_code` (`code`),
  KEY `idx_invitation_active` (`is_active`,`expires_at`),
  CONSTRAINT `invitation_codes_ibfk_1` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE SET NULL,
  CONSTRAINT `invitation_codes_ibfk_2` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `invitation_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `invitation_codes` ENABLE KEYS */;
DROP TABLE IF EXISTS `invoice_artifacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_artifacts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `artifact_type` varchar(50) NOT NULL,
  `uploaded_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  CONSTRAINT `invoice_artifacts_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `invoice_artifacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_artifacts` ENABLE KEYS */;
DROP TABLE IF EXISTS `invoice_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `uploaded_by_user_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(255) NOT NULL,
  `file_type` varchar(50) DEFAULT NULL,
  `upload_timestamp` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  KEY `uploaded_by_user_id` (`uploaded_by_user_id`),
  CONSTRAINT `invoice_files_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoice_files_ibfk_2` FOREIGN KEY (`uploaded_by_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `invoice_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_files` ENABLE KEYS */;
DROP TABLE IF EXISTS `invoice_service_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoice_service_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `service_id` int(11) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `quantity` decimal(10,2) DEFAULT 1.00,
  `unit_price` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  KEY `service_id` (`service_id`),
  CONSTRAINT `invoice_service_items_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoice_service_items_ibfk_2` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `invoice_service_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_service_items` ENABLE KEYS */;
DROP TABLE IF EXISTS `monthly_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `monthly_invoices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `client_user_id` int(11) NOT NULL,
  `invoice_year` int(11) NOT NULL,
  `invoice_month` int(11) NOT NULL,
  `previous_debt` decimal(10,2) DEFAULT 0.00,
  `monthly_fee` decimal(10,2) DEFAULT 0.00,
  `extras_fee` decimal(10,2) DEFAULT 0.00,
  `extras_description` text DEFAULT NULL,
  `total_due` decimal(10,2) NOT NULL,
  `amount_paid` decimal(10,2) DEFAULT 0.00,
  `balance` decimal(10,2) NOT NULL,
  `payment_status` enum('paid','partial','pending','overdue','deferred_next_month','unpaid_auto') DEFAULT 'pending' COMMENT 'paid=pagado completo, partial=abono/pago parcial, pending=pendiente, overdue=vencido, deferred_next_month=pasa al siguiente mes, unpaid_auto=no pagado autom├íticamente al fin de mes',
  `services_status` varchar(50) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `observations` text DEFAULT NULL,
  `payment_registered_by_user_id` int(11) DEFAULT NULL COMMENT 'ID del admin/employee que registr├│ el pago',
  `payment_registered_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha y hora en que se registr├│ el pago',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_invoice_month` (`client_user_id`,`invoice_year`,`invoice_month`),
  KEY `fk_payment_registered_by` (`payment_registered_by_user_id`),
  KEY `idx_invoices_workspace` (`workspace_id`),
  CONSTRAINT `fk_payment_registered_by` FOREIGN KEY (`payment_registered_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `monthly_invoices_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `monthly_invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `monthly_invoices` ENABLE KEYS */;
DROP TABLE IF EXISTS `monthly_service_checklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `monthly_service_checklist` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `invoice_id` int(11) NOT NULL,
  `task_name` varchar(255) NOT NULL,
  `status` enum('pending','completed','not_applicable') DEFAULT 'pending',
  `completed_by_user_id` int(11) DEFAULT NULL,
  `completion_date` timestamp NULL DEFAULT NULL,
  `next_payment_date` date DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `file_type` varchar(100) DEFAULT NULL,
  `omiso_id` int(11) DEFAULT NULL,
  `service_id` int(11) DEFAULT NULL COMMENT 'ID del servicio al que pertenece esta tarea',
  `activities_completed` int(11) DEFAULT 0,
  `activities_total` int(11) DEFAULT 0,
  `client_form_completed` tinyint(1) DEFAULT 0,
  `variable_step_index` int(11) DEFAULT 0 COMMENT '├ìndice del paso actual en patr├│n de recurrencia variable',
  `client_approved` tinyint(1) DEFAULT NULL COMMENT 'NULL=pendiente, TRUE=aprobado, FALSE=rechazado',
  `client_approved_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha de aprobaci├│n/rechazo',
  `client_rejection_reason` text DEFAULT NULL COMMENT 'Motivo del rechazo',
  `auto_approve_days` int(11) DEFAULT 7 COMMENT 'D├¡as para auto-aprobar despu├®s de subir archivos',
  `files_uploaded_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha cuando se subieron los archivos',
  `auto_approved` tinyint(1) DEFAULT 0 COMMENT 'Si fue auto-aprobado por tiempo',
  PRIMARY KEY (`id`),
  KEY `invoice_id` (`invoice_id`),
  KEY `completed_by_user_id` (`completed_by_user_id`),
  KEY `fk_checklist_service` (`service_id`),
  KEY `idx_checklist_workspace` (`workspace_id`),
  KEY `idx_checklist_client_approved` (`client_approved`),
  CONSTRAINT `fk_checklist_service` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE SET NULL,
  CONSTRAINT `monthly_service_checklist_ibfk_1` FOREIGN KEY (`invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE CASCADE,
  CONSTRAINT `monthly_service_checklist_ibfk_2` FOREIGN KEY (`completed_by_user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `monthly_service_checklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `monthly_service_checklist` ENABLE KEYS */;
DROP TABLE IF EXISTS `password_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` enum('reset_by_admin','reset_by_email','changed_by_user','first_login_change') NOT NULL,
  `performed_by` int(11) DEFAULT NULL COMMENT 'ID del admin que realiz├│ el reset, NULL si fue el propio usuario',
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `performed_by` (`performed_by`),
  CONSTRAINT `password_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `password_history_ibfk_2` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `password_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_history` ENABLE KEYS */;
DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `permission_key` varchar(200) NOT NULL COMMENT 'Formato: page_key:action_key (ej: clients:view)',
  `page_id` int(11) NOT NULL,
  `action_id` int(11) NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `permission_key` (`permission_key`),
  KEY `action_id` (`action_id`),
  KEY `idx_permission_key` (`permission_key`),
  KEY `idx_page_action` (`page_id`,`action_id`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `permissions_ibfk_1` FOREIGN KEY (`page_id`) REFERENCES `system_pages` (`id`),
  CONSTRAINT `permissions_ibfk_2` FOREIGN KEY (`action_id`) REFERENCES `system_actions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=178 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  `granted` tinyint(1) DEFAULT 1 COMMENT 'TRUE=permitir, FALSE=denegar',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `created_by` int(11) DEFAULT NULL COMMENT 'Usuario que otorg├│ el permiso',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_role_permission` (`role_id`,`permission_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_role` (`role_id`),
  KEY `idx_permission` (`permission_id`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=276 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */;
DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_key` varchar(100) NOT NULL COMMENT 'Clave ├║nica del rol (ej: admin, manager, employee)',
  `role_name` varchar(200) NOT NULL COMMENT 'Nombre legible del rol',
  `description` text DEFAULT NULL,
  `is_system_role` tinyint(1) DEFAULT 0 COMMENT 'TRUE si es un rol del sistema (no se puede eliminar)',
  `is_active` tinyint(1) DEFAULT 1,
  `created_in_workspace_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_key` (`role_key`),
  KEY `idx_role_key` (`role_key`),
  KEY `idx_active` (`is_active`),
  KEY `fk_roles_workspace` (`created_in_workspace_id`),
  CONSTRAINT `fk_roles_workspace` FOREIGN KEY (`created_in_workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES
(1,'admin','Administrador','Acceso completo al sistema',1,1,NULL,'2025-12-26 18:04:14','2025-12-26 18:04:14'),
(2,'manager','Gerente','Puede gestionar empleados y ver reportes',1,1,NULL,'2025-12-26 18:04:14','2025-12-26 18:04:14'),
(3,'employee','Empleado','Acceso a clientes asignados y tareas',1,1,NULL,'2025-12-26 18:04:14','2025-12-26 18:04:14'),
(4,'client','Cliente','Acceso solo a su informaci├│n',1,1,NULL,'2025-12-26 18:04:14','2025-12-26 18:04:14');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_activities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `service_id` int(11) NOT NULL,
  `activity_name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `display_order` int(11) DEFAULT 0,
  `is_required` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_service_activities_order` (`service_id`,`display_order`),
  CONSTRAINT `service_activities_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_activities` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_activities` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_bundles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_bundles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `bundle_name` varchar(255) NOT NULL COMMENT 'Nombre del paquete (ej: "Paquete B├ísico SAT")',
  `description` text DEFAULT NULL COMMENT 'Descripci├│n del paquete',
  `bundle_price` decimal(10,2) NOT NULL COMMENT 'Precio del paquete completo',
  `is_active` tinyint(1) DEFAULT 1 COMMENT 'Si el paquete est├í activo y disponible',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `client_description` text DEFAULT NULL COMMENT 'Descripci├│n visible para el cliente',
  `base_price` decimal(10,2) DEFAULT 0.00 COMMENT 'Precio base mensual del bundle (servicios incluidos)',
  `billing_type` enum('fixed','dynamic') DEFAULT 'dynamic' COMMENT 'fixed=siempre igual, dynamic=var├¡a seg├║n servicios que tocan',
  PRIMARY KEY (`id`),
  KEY `idx_active` (`is_active`),
  KEY `idx_bundles_workspace` (`workspace_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Paquetes/bundles de servicios que se cobran juntos';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_bundles` DISABLE KEYS */;
INSERT INTO `service_bundles` VALUES
(1,1,'Paquete B├ísico SAT','Incluye los 4 servicios principales de SAT',50.00,1,'2025-12-26 18:04:10','2025-12-26 18:04:17',NULL,0.00,'dynamic');
/*!40000 ALTER TABLE `service_bundles` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_client_form_fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_client_form_fields` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `service_id` int(11) NOT NULL,
  `field_name` varchar(100) NOT NULL,
  `field_label` varchar(255) NOT NULL,
  `field_type` enum('text','number','date','select','multiselect','file','textarea','email','phone','checkbox') NOT NULL,
  `placeholder` text DEFAULT NULL,
  `default_value` text DEFAULT NULL,
  `is_required` tinyint(1) DEFAULT 0,
  `validation_rules` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`validation_rules`)),
  `select_options` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`select_options`)),
  `display_order` int(11) DEFAULT 0,
  `help_text` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_service_form_fields` (`service_id`,`display_order`),
  CONSTRAINT `service_client_form_fields_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_client_form_fields` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_client_form_fields` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_operational_costs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_operational_costs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `service_id` int(11) NOT NULL COMMENT 'ID del servicio',
  `invoice_id` int(11) DEFAULT NULL COMMENT 'ID de la factura espec├¡fica (si aplica)',
  `client_user_id` int(11) NOT NULL COMMENT 'ID del cliente',
  `cost_amount` decimal(10,2) NOT NULL COMMENT 'Monto del costo operativo',
  `revenue_amount` decimal(10,2) NOT NULL COMMENT 'Monto cobrado al cliente',
  `profit_amount` decimal(10,2) GENERATED ALWAYS AS (`revenue_amount` - `cost_amount`) STORED COMMENT 'Ganancia = revenue - cost (calculado autom├íticamente)',
  `description` text DEFAULT NULL COMMENT 'Descripci├│n del servicio espec├¡fico (ej: "Omiso complejidad alta")',
  `cost_date` date NOT NULL COMMENT 'Fecha del costo',
  `created_by_user_id` int(11) NOT NULL COMMENT 'Admin que registr├│ el costo',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `idx_service` (`service_id`),
  KEY `idx_invoice` (`invoice_id`),
  KEY `idx_client` (`client_user_id`),
  KEY `idx_date` (`cost_date`),
  KEY `idx_soc_workspace` (`workspace_id`),
  CONSTRAINT `service_operational_costs_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE,
  CONSTRAINT `service_operational_costs_ibfk_2` FOREIGN KEY (`invoice_id`) REFERENCES `monthly_invoices` (`id`) ON DELETE SET NULL,
  CONSTRAINT `service_operational_costs_ibfk_3` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `service_operational_costs_ibfk_4` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Costos operativos variables de servicios (ej: cada omiso tiene costo diferente)';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_operational_costs` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_operational_costs` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_recurrence_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_recurrence_rules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `service_id` int(11) NOT NULL,
  `variable_pattern` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`variable_pattern`)),
  `completion_days` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`completion_days`)),
  `activation_days_before` int(11) DEFAULT 7,
  `day_of_week` tinyint(4) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `service_id` (`service_id`),
  CONSTRAINT `service_recurrence_rules_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_recurrence_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_recurrence_rules` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `client_user_id` int(11) NOT NULL,
  `service_id` int(11) DEFAULT NULL COMMENT 'Servicio solicitado (puede ser NULL si es descripci├│n libre)',
  `request_description` text DEFAULT NULL COMMENT 'Descripci├│n de lo que necesita',
  `status` enum('pending','approved','rejected','completed') DEFAULT 'pending',
  `admin_notes` text DEFAULT NULL,
  `reviewed_by_user_id` int(11) DEFAULT NULL,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `service_id` (`service_id`),
  KEY `reviewed_by_user_id` (`reviewed_by_user_id`),
  KEY `idx_service_requests_client` (`client_user_id`),
  KEY `idx_service_requests_status` (`status`),
  CONSTRAINT `service_requests_ibfk_1` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `service_requests_ibfk_2` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE SET NULL,
  CONSTRAINT `service_requests_ibfk_3` FOREIGN KEY (`reviewed_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_requests` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_subscription_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_subscription_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `service_id` int(11) NOT NULL,
  `client_user_id` int(11) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL,
  `request_type` enum('one_time','subscribe') NOT NULL DEFAULT 'one_time',
  `status` enum('pending','approved','rejected','cancelled') DEFAULT 'pending',
  `request_notes` text DEFAULT NULL,
  `admin_notes` text DEFAULT NULL,
  `requested_at` timestamp NULL DEFAULT current_timestamp(),
  `processed_at` timestamp NULL DEFAULT NULL,
  `processed_by_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `service_id` (`service_id`),
  KEY `processed_by_user_id` (`processed_by_user_id`),
  KEY `idx_client_requests` (`client_user_id`,`status`),
  KEY `idx_pending_requests` (`status`,`requested_at`),
  KEY `idx_workspace_requests` (`workspace_id`,`status`),
  CONSTRAINT `service_subscription_requests_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE,
  CONSTRAINT `service_subscription_requests_ibfk_2` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `service_subscription_requests_ibfk_3` FOREIGN KEY (`processed_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_subscription_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_subscription_requests` ENABLE KEYS */;
DROP TABLE IF EXISTS `service_upload_slots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_upload_slots` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `service_id` int(11) NOT NULL,
  `slot_name` varchar(100) NOT NULL,
  `slot_label` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `display_order` int(11) DEFAULT 0,
  `is_required` tinyint(1) DEFAULT 1,
  `allowed_file_types` varchar(255) DEFAULT '*',
  `max_file_size_mb` int(11) DEFAULT 10,
  `visibility` enum('admin_only','client_only','both') DEFAULT 'both',
  `send_via_whatsapp` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_service_slots_order` (`service_id`,`display_order`),
  CONSTRAINT `service_upload_slots_ibfk_1` FOREIGN KEY (`service_id`) REFERENCES `services` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `service_upload_slots` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_upload_slots` ENABLE KEYS */;
DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `service_name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `default_price` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `recurrence_type` enum('monthly','bimonthly','quarterly','annual','custom','one_time') DEFAULT 'monthly' COMMENT 'Tipo de recurrencia del servicio',
  `recurrence_days` int(11) DEFAULT NULL COMMENT 'N├║mero de d├¡as para recurrencia custom (ej: 30, 60, 90)',
  `activation_day` int(11) DEFAULT 25 COMMENT 'D├¡a del mes en que se activa la tarea (ej: 25 = ├║ltima semana)',
  `activation_window_days` int(11) DEFAULT 7 COMMENT 'D├¡as antes del activation_day en que se puede activar (ej: 7 = una semana antes)',
  `requires_file` tinyint(1) DEFAULT 1 COMMENT 'Indica si se debe subir un archivo al completar la tarea',
  `completion_determines_next` tinyint(1) DEFAULT 0 COMMENT 'Si TRUE, el usuario especifica la pr├│xima fecha al completar la tarea (como Libros)',
  `is_active` tinyint(1) DEFAULT 1 COMMENT 'Indica si el servicio est├í activo y genera tareas autom├íticamente',
  `has_operational_cost` tinyint(1) DEFAULT 0 COMMENT 'Si el servicio tiene un costo operativo (ej: libros, omisos)',
  `operational_cost_type` enum('none','fixed','variable') DEFAULT 'none' COMMENT 'none=sin costo, fixed=costo fijo, variable=costo var├¡a por caso',
  `operational_cost_amount` decimal(10,2) DEFAULT NULL COMMENT 'Monto del costo operativo para tipo fixed',
  `is_on_request` tinyint(1) DEFAULT 0 COMMENT 'Indica si el servicio solo se activa por solicitud del cliente',
  `is_global` tinyint(1) DEFAULT 0 COMMENT 'TRUE si el servicio esta disponible en todos los workspaces',
  `operational_cost` decimal(10,2) DEFAULT 0.00,
  `recurrence_type_extended` enum('annual','semiannual','quarterly','bimonthly','monthly','biweekly','weekly','on_demand','variable','one_time') DEFAULT 'monthly',
  `employee_notes` text DEFAULT NULL,
  `client_notes` text DEFAULT NULL,
  `assignment_type` enum('all_clients','selected_clients','on_request') DEFAULT 'selected_clients',
  `file_config` enum('none','optional','required') DEFAULT 'required',
  `visible_to_clients` tinyint(1) DEFAULT 1,
  `allow_subscription` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `idx_is_on_request` (`is_on_request`),
  KEY `idx_services_workspace` (`workspace_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `services` DISABLE KEYS */;
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `display_name` varchar(255) DEFAULT NULL,
  `logo_url` varchar(512) DEFAULT NULL,
  `theme_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`theme_json`)),
  `features_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`features_json`)),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES
(1,'SAT System',NULL,'{\"primary\":\"#2563eb\"}','{\"workspaces\":true}','2025-12-26 18:05:06');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
DROP TABLE IF EXISTS `system_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_actions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_key` varchar(100) NOT NULL COMMENT 'Clave ├║nica de la acci├│n (ej: view, create, edit, delete)',
  `action_name` varchar(200) NOT NULL COMMENT 'Nombre legible de la acci├│n',
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `action_key` (`action_key`),
  KEY `idx_action_key` (`action_key`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `system_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_actions` ENABLE KEYS */;
DROP TABLE IF EXISTS `system_pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_pages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `page_key` varchar(100) NOT NULL COMMENT 'Clave ├║nica de la p├ígina (ej: clients, services)',
  `page_name` varchar(200) NOT NULL COMMENT 'Nombre legible de la p├ígina',
  `description` text DEFAULT NULL,
  `parent_page_id` int(11) DEFAULT NULL COMMENT 'Para p├íginas anidadas',
  `display_order` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `page_key` (`page_key`),
  KEY `parent_page_id` (`parent_page_id`),
  KEY `idx_page_key` (`page_key`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `system_pages_ibfk_1` FOREIGN KEY (`parent_page_id`) REFERENCES `system_pages` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `system_pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_pages` ENABLE KEYS */;
DROP TABLE IF EXISTS `task_activity_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_activity_progress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `task_id` int(11) NOT NULL,
  `activity_id` int(11) NOT NULL,
  `status` enum('pending','completed','skipped') DEFAULT 'pending',
  `completed_by_user_id` int(11) DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_task_activity` (`task_id`,`activity_id`),
  KEY `activity_id` (`activity_id`),
  KEY `completed_by_user_id` (`completed_by_user_id`),
  KEY `idx_task_progress` (`task_id`,`status`),
  CONSTRAINT `task_activity_progress_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `monthly_service_checklist` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_activity_progress_ibfk_2` FOREIGN KEY (`activity_id`) REFERENCES `service_activities` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_activity_progress_ibfk_3` FOREIGN KEY (`completed_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `task_activity_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_activity_progress` ENABLE KEYS */;
DROP TABLE IF EXISTS `task_client_form_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_client_form_responses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `task_id` int(11) NOT NULL,
  `field_id` int(11) NOT NULL,
  `response_value` text DEFAULT NULL,
  `file_path` varchar(512) DEFAULT NULL,
  `submitted_by_user_id` int(11) NOT NULL,
  `submitted_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_task_field_response` (`task_id`,`field_id`),
  KEY `field_id` (`field_id`),
  KEY `submitted_by_user_id` (`submitted_by_user_id`),
  KEY `idx_task_responses` (`task_id`),
  CONSTRAINT `task_client_form_responses_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `monthly_service_checklist` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_client_form_responses_ibfk_2` FOREIGN KEY (`field_id`) REFERENCES `service_client_form_fields` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_client_form_responses_ibfk_3` FOREIGN KEY (`submitted_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `task_client_form_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_client_form_responses` ENABLE KEYS */;
DROP TABLE IF EXISTS `task_observations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_observations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) DEFAULT NULL,
  `task_id` int(11) NOT NULL,
  `client_user_id` int(11) NOT NULL,
  `created_by_user_id` int(11) NOT NULL,
  `observation_text` text DEFAULT NULL,
  `rating` tinyint(4) DEFAULT NULL CHECK (`rating` >= 1 and `rating` <= 5),
  `is_primary` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by_user_id` (`created_by_user_id`),
  KEY `idx_client` (`client_user_id`),
  KEY `idx_task` (`task_id`),
  KEY `idx_primary` (`client_user_id`,`is_primary`),
  KEY `idx_observations_workspace` (`workspace_id`),
  CONSTRAINT `task_observations_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `monthly_service_checklist` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_observations_ibfk_2` FOREIGN KEY (`client_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_observations_ibfk_3` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Observaciones y calificaciones por tarea completada';
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `task_observations` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_observations` ENABLE KEYS */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_insert_task_observation
BEFORE INSERT ON task_observations
FOR EACH ROW
BEGIN
  
  IF NEW.is_primary = TRUE THEN
    UPDATE task_observations
    SET is_primary = FALSE
    WHERE client_user_id = NEW.client_user_id
      AND is_primary = TRUE;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER before_update_task_observation
BEFORE UPDATE ON task_observations
FOR EACH ROW
BEGIN
  
  IF NEW.is_primary = TRUE AND OLD.is_primary = FALSE THEN
    UPDATE task_observations
    SET is_primary = FALSE
    WHERE client_user_id = NEW.client_user_id
      AND is_primary = TRUE
      AND id != NEW.id;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
DROP TABLE IF EXISTS `task_uploaded_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `task_uploaded_files` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `task_id` int(11) NOT NULL,
  `slot_id` int(11) NOT NULL,
  `file_name` varchar(255) NOT NULL,
  `original_name` varchar(255) DEFAULT NULL,
  `file_path` varchar(512) NOT NULL,
  `file_type` varchar(100) DEFAULT NULL,
  `file_size_bytes` bigint(20) DEFAULT NULL,
  `uploaded_by_user_id` int(11) NOT NULL,
  `uploaded_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by_user_id` (`uploaded_by_user_id`),
  KEY `idx_task_files` (`task_id`),
  KEY `idx_slot_files` (`slot_id`),
  CONSTRAINT `task_uploaded_files_ibfk_1` FOREIGN KEY (`task_id`) REFERENCES `monthly_service_checklist` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_uploaded_files_ibfk_2` FOREIGN KEY (`slot_id`) REFERENCES `service_upload_slots` (`id`) ON DELETE CASCADE,
  CONSTRAINT `task_uploaded_files_ibfk_3` FOREIGN KEY (`uploaded_by_user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `task_uploaded_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_uploaded_files` ENABLE KEYS */;
DROP TABLE IF EXISTS `tenant_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tenant_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` enum('string','number','boolean','json') DEFAULT 'string',
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `tenant_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenant_settings` ENABLE KEYS */;
DROP TABLE IF EXISTS `user_activity_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity_stats` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `stat_date` date NOT NULL,
  `tasks_completed` int(11) DEFAULT 0 COMMENT 'Tareas completadas en el d├¡a',
  `clients_managed` int(11) DEFAULT 0 COMMENT 'Clientes gestionados',
  `services_completed` int(11) DEFAULT 0 COMMENT 'Servicios completados',
  `login_count` int(11) DEFAULT 0 COMMENT 'Veces que inici├│ sesi├│n',
  `actions_performed` int(11) DEFAULT 0 COMMENT 'Acciones totales realizadas',
  `last_login` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_date` (`user_id`,`stat_date`),
  KEY `idx_user` (`user_id`),
  KEY `idx_date` (`stat_date`),
  CONSTRAINT `user_activity_stats_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `user_activity_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_activity_stats` ENABLE KEYS */;
DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  `granted` tinyint(1) DEFAULT 1 COMMENT 'TRUE=permitir, FALSE=denegar (sobrescribe rol)',
  `granted_by` int(11) DEFAULT NULL,
  `granted_at` timestamp NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL,
  `reason` text DEFAULT NULL COMMENT 'Raz├│n de la asignaci├│n directa',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_permission` (`user_id`,`permission_id`),
  KEY `granted_by` (`granted_by`),
  KEY `idx_user` (`user_id`),
  KEY `idx_permission` (`permission_id`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `user_permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_permissions_ibfk_2` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_permissions_ibfk_3` FOREIGN KEY (`granted_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_permissions` ENABLE KEYS */;
DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `role_id` int(11) NOT NULL,
  `granted_by` int(11) DEFAULT NULL COMMENT 'Usuario que otorg├│ el rol',
  `granted_at` timestamp NULL DEFAULT current_timestamp(),
  `expires_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha de expiraci├│n del rol (NULL=permanente)',
  `is_active` tinyint(1) DEFAULT 1,
  `notes` text DEFAULT NULL COMMENT 'Notas sobre la asignaci├│n',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_role` (`user_id`,`role_id`),
  KEY `granted_by` (`granted_by`),
  KEY `idx_user` (`user_id`),
  KEY `idx_role` (`role_id`),
  KEY `idx_active` (`is_active`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `user_roles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_roles_ibfk_2` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_roles_ibfk_3` FOREIGN KEY (`granted_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
DROP TABLE IF EXISTS `user_workspaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_workspaces` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) NOT NULL,
  `role_in_workspace` enum('owner','admin','member','viewer') DEFAULT 'member',
  `is_primary` tinyint(1) DEFAULT 0 COMMENT 'Workspace principal del usuario',
  `assigned_by_user_id` int(11) DEFAULT NULL,
  `assigned_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_workspace` (`user_id`,`workspace_id`),
  KEY `idx_user_workspaces_user` (`user_id`),
  KEY `idx_user_workspaces_workspace` (`workspace_id`),
  CONSTRAINT `user_workspaces_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_workspaces_ibfk_2` FOREIGN KEY (`workspace_id`) REFERENCES `workspaces` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1050 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `user_workspaces` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_workspaces` ENABLE KEYS */;
DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(255) NOT NULL,
  `role` enum('client','admin','employee','superadmin') NOT NULL,
  `nit` varchar(50) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `phone_number` varchar(50) DEFAULT NULL,
  `is_active` tinyint(4) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `assigned_to_user_id` int(11) DEFAULT NULL,
  `deactivation_reason` text DEFAULT NULL COMMENT 'Motivo por el cual el cliente fue desactivado (ej: impago, fraude, etc.)',
  `deactivated_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha y hora en que el cliente fue desactivado',
  `deactivated_by_user_id` int(11) DEFAULT NULL COMMENT 'ID del admin/employee que desactiv├│ al cliente',
  `services_disabled_by_infractions` tinyint(1) DEFAULT 0 COMMENT 'TRUE si los servicios fueron deshabilitados por 3+ infracciones',
  `registered_via_invitation_id` int(11) DEFAULT NULL,
  `registration_ip` varchar(45) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT 0,
  `password_reset_token` varchar(255) DEFAULT NULL,
  `password_reset_expires` datetime DEFAULT NULL,
  `password_changed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_assigned_to` (`assigned_to_user_id`),
  KEY `fk_user_deactivated_by` (`deactivated_by_user_id`),
  KEY `idx_users_is_active` (`is_active`),
  KEY `idx_users_active_role` (`is_active`,`role`),
  KEY `fk_user_invitation` (`registered_via_invitation_id`),
  KEY `idx_users_reset_token` (`password_reset_token`),
  CONSTRAINT `fk_user_deactivated_by` FOREIGN KEY (`deactivated_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_user_invitation` FOREIGN KEY (`registered_via_invitation_id`) REFERENCES `invitation_codes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_users_assigned_to` FOREIGN KEY (`assigned_to_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=356 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
DROP TABLE IF EXISTS `workspaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `workspaces` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL COMMENT 'Nombre del workspace (ej: Empresa ABC)',
  `slug` varchar(100) NOT NULL COMMENT 'Identificador unico para URLs',
  `description` text DEFAULT NULL,
  `color` varchar(7) DEFAULT '#3b82f6' COMMENT 'Color hex para identificacion visual',
  `icon` varchar(50) DEFAULT 'building' COMMENT 'Icono del workspace',
  `is_active` tinyint(1) DEFAULT 1,
  `is_default` tinyint(1) DEFAULT 0 COMMENT 'Workspace por defecto para nuevos usuarios',
  `created_by_user_id` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `max_infractions` int(11) DEFAULT 3 COMMENT 'L├¡mite de infracciones antes de desactivar cliente',
  `auto_deactivate_on_limit` tinyint(1) DEFAULT 1,
  `infraction_color_scheme` enum('clasico','intenso','profesional','oscuro','custom') DEFAULT 'clasico',
  `infraction_color_1_bg` varchar(7) DEFAULT '#FEF3C7' COMMENT 'Color fondo 1 infracci├│n (amarillo claro)',
  `infraction_color_1_text` varchar(7) DEFAULT '#92400E' COMMENT 'Color texto 1 infracci├│n (amarillo oscuro)',
  `infraction_color_2_bg` varchar(7) DEFAULT '#FEE2E2' COMMENT 'Color fondo 2+ infracciones (rojo claro)',
  `infraction_color_2_text` varchar(7) DEFAULT '#991B1B' COMMENT 'Color texto 2+ infracciones (rojo oscuro)',
  `registration_code` varchar(4) DEFAULT NULL,
  `auto_approve_registration` tinyint(1) DEFAULT 0,
  `infraction_color_3_bg` varchar(7) DEFAULT NULL,
  `infraction_color_3_text` varchar(7) DEFAULT NULL,
  `infraction_color_4_bg` varchar(7) DEFAULT NULL,
  `infraction_color_4_text` varchar(7) DEFAULT NULL,
  `infraction_color_5_bg` varchar(7) DEFAULT NULL,
  `infraction_color_5_text` varchar(7) DEFAULT NULL,
  `infraction_color_6_bg` varchar(7) DEFAULT NULL,
  `infraction_color_6_text` varchar(7) DEFAULT NULL,
  `infraction_color_7_bg` varchar(7) DEFAULT NULL,
  `infraction_color_7_text` varchar(7) DEFAULT NULL,
  `infraction_color_8_bg` varchar(7) DEFAULT NULL,
  `infraction_color_8_text` varchar(7) DEFAULT NULL,
  `infraction_color_9_bg` varchar(7) DEFAULT NULL,
  `infraction_color_9_text` varchar(7) DEFAULT NULL,
  `infraction_color_10_bg` varchar(7) DEFAULT NULL,
  `infraction_color_10_text` varchar(7) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  UNIQUE KEY `registration_code` (`registration_code`),
  KEY `idx_workspaces_slug` (`slug`),
  KEY `idx_workspaces_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

/*!40000 ALTER TABLE `workspaces` DISABLE KEYS */;
/*!40000 ALTER TABLE `workspaces` ENABLE KEYS */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

